/* CSS Document */

/*

selector{
    propert: value; 
    propert: value; 
    propert: value; 
}



*/

html { font-family:Arial, Henlvetica, sans-serif; }

body { background-color: #1E90FF; }
border-top 2px solid #F00; /* size + solid, dashed or dotted + colour */
h1 { font-family: Georgia, "Times New Roman", serif; 
    font-size: 3rem; /* 1 rem = 16px */ 
    font-weight: normal; }

p { font-size:; 1rem; 
    line-height: 1.5rem; }
    
h1 + p { font-size: 1.5rem; line-height: 1.75rem;}

p strong { color: #DC143C;}
strong { font-weight: bold; }
em { font-style: italic; }

hr{ border: dashed 4px #00008B; }

ul, ol { background-color: #1E90FF; }

li {color: #F0FFFF}
 
ol li:first-child { background-color: #000; } 
 #A52A2A